/* 全局 */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(41, 39, 39, 0.9);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

/* 顶部导航栏 */
#navbar {
  width: 100%;
  background: #1f1f1f;
  color: rgb(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 6px rgba(47, 43, 43, 0.2);
  z-index: 100;
  flex: 1;
  padding: 0 2vw;
}

#navbarTitle {
  font-size: 36px;
  font-weight: bold;
}

#buttonandgit {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-right: 3vw;
}

#exportButton {
  background-color: white;
  color: black;
  font-weight: bold;
  padding: 0.5em 1em;
  border: none;
  border-radius: 6px;
  font-size: 1vw;
  cursor: pointer;
  transition: 0.3s ease;
}

#exportButton:hover {
  background-color: rgba(41, 39, 39, 0.9);
  color: white;
  border: 2px solid white;
  transform: scale(1.05);
}

#maincontent {
  width: 100%;
  flex: 8;
  display: flex;
  flex-direction: row;
}

#map {
  flex: 2;
  position: relative;
}

#right {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 7px;
}

#realtime,
#aqDate,
#legend,
#flyto,
#chartContainer {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 8px 12px;
  color: #222;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 3;

  font-family: 'Arial', 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 1vw;
}

#realtime,
#aqDate {
  display: flex;
  height: 5vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#flyandlegend {
  display: flex;
  flex-direction: row;
  gap: 7px;
}

#flyto {
  flex: 1;
  width: 100%;
  z-index: 3;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

#flytoheader {
  width: 100%;
  text-align: left;
  padding: 8px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px 8px 0 0;
}

#flytobutton {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  width: 100%;
  height: 100%;
  border-radius: 0 0 8px 8px;
}

#flytobutton button:hover {
  background-color: #000000;
  color: #ffffff;
  transform: scale(1.05);
}

#flytobutton button {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#legend {
  flex: 1.3;
  border-radius: 8px;
  padding: 8px;
  font-size: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  line-height: 1.6;
}

#legend .legend-item {
  display: flex;
  align-items: center;
  width: 120%;
  gap: 10px;
}

#legend .color-box {
  width: 16px;
  height: 16px;
  display: inline-block;
  margin-left: 3px;
  border: 1px solid #ccc;
}

#chartContainer {
  flex: 1;
  z-index: 3;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#airChart {
  position: absolute;
  padding: 3px 3px;
  width: 100%;
  height: 100%;
}

#chartOverlay {
  pointer-events: none;
}

/* github */
#githubButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 6px;
  padding: 0.4em 0.6em;
  text-decoration: none;
  transition: all 0.3s ease;
}

#githubButton img {
  width: 24px;
  height: 24px;
  filter: brightness(100%);
}

#githubButton:hover {
  background-color: rgb(220, 145, 255);
}

#githubButton:hover img {
  filter: brightness(0%);
}